:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --link-color: #007bff;
    --button-bg-color: #007bff;
    --button-text-color: white;
    --heading-color: #333333;
    --navbar-bg-color: #f8f9fa;
    --border-color: #dee2e6;
    --secondary-background-color: #f8f9fa;
}

body.dark {
    --background-color: #121212;
    --text-color: #e1e1e1;
    --link-color: #1e90ff;
    --button-bg-color: #1e90ff;
    --button-text-color: #121212;
    --heading-color: #e1e1e1;
    --navbar-bg-color: #1f1f1f;
    --border-color: #343a40;
    --secondary-background-color: #1f1f1f;
}

body {
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--background-color);
    color: var(--text-color);
}
